<header class="hide-for-print">
    <div class="header-left">
      <a>
        <img class="menu-icon" src="assets/images/icons/menu.svg" alt="logo" />
      </a>
      <img class="logo" src="assets/images/logo.svg" alt="logo" />
      <img class="logo-islamic" src="assets/images/logo-CIMB-Islamic.svg" alt="logo islamic" />
    </div>
    <div class="header-right">
      <img class="icon" src="assets/images/icons/logout.svg" alt="logout" />
    </div>
    <div class="confidential">Confidential</div>
  </header>
  