.chatbot-settings-container {
  margin-top: 5rem;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .header-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .back-icon {
      cursor: pointer;
      margin-right: 10px;
    }

    h1 {
      font-size: 24px;
      font-weight: bold;
    }
  }

  .form-section {
    h2 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .form-group {
      margin-bottom: 20px;

      label {
        font-weight: bold;
        display: block;
        margin-bottom: 8px;
      }

      input,
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #dcdcdc;
        border-radius: 8px;
        font-size: 16px;
        outline: none;

        &:focus {
          border-color: #ff5e3a;
        }
      }

      .required {
        color: red;
      }
    }
  }

  .file-upload-section {
    h3 {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .upload-area {
      background-color: #f9f9f9;
      padding: 20px;
      border: 2px dashed #dcdcdc;
      text-align: center;
      border-radius: 8px;
      margin-bottom: 20px;

      .upload-button {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          margin-bottom: 10px;
        }

        span {
          font-size: 16px;
          font-weight: bold;
          color: #ff5e3a;
        }

        p {
          font-size: 12px;
          color: #888;
        }
      }
    }

    .file-list {
      .file-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid #e0e0e0;

        .new-file {
          font-weight: bold; /* Bold text for new files */
        }

        .new-indicator {
          margin-left: 8px;
          font-size: 0.9em;
          color: #ff9800; /* Orange color for new indicator */
        }

        .file-name {
          display: flex;
          align-items: center;

          img {
            margin-right: 10px;
          }

          span {
            font-size: 14px;
          }
        }

        .file-actions {
          display: flex;
          align-items: center;

          img {
            width: 20px;
            height: 20px;
            margin-left: 15px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .form-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    .save-button {
      background-color: #b3b3b3;
      color: white;
      padding: 10px 20px;
      border-radius: 8px;
      margin-right: 10px;
      cursor: pointer;
      font-size: 16px;
      border: none;
      outline: none;

      &:hover {
        background-color: red;
      }
    }

    .publish-button {
      background-color: #ff5e3a;
      color: white;
      padding: 10px 20px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      border: none;
      outline: none;

      &:hover {
        background-color: #e64b24;
      }
    }
  }
}

:host ::ng-deep .ngx-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; // Make sure it appears above other elements
}

