<div class="chat-container">
  <!-- Chat messages -->
  <div #chatMessages class="chat-messages">
    <div
      *ngFor="let message of messages"
      [ngClass]="{
        'message user': message.sender === 'user',
        'message bot': message.sender === 'bot'
      }"
    >
      <div class="message-box">
        <p>{{ message.text }}</p>
      </div>
    </div>
    <!-- Loader when waiting for a response -->
    <div *ngIf="isLoading" class="loader">
      <div class="spinner"></div>
    </div>
  </div>

  <!-- Chat input -->
  <div class="chat-input">
    <input
      type="text"
      placeholder="Type your message..."
      [(ngModel)]="inputMessage"
      (keydown.enter)="!isLoading && sendMessage()"
      [disabled]="isLoading"
      [ngClass]="{ 'disabled-input': isLoading }"
    />
    <button (click)="sendMessage()" [disabled]="isLoading" [ngClass]="{ 'disabled-button': isLoading }">Send</button>
  </div>
</div>
